{% extends 'core/index.html' %}
{% load static %}
{% block project %}
<section id="proyecto">
    <div id="idem">
        <p><strong>Quiénes confían en nosotros</strong></p>
    </div>
    <!-- Aquí se incorpora la animación TPO -->
    <article class="partners">
        <img id="imgpro" src="images/project01.jpg" width="100%" alt="">
        <img id="imgpro" src="images/project02.jpg" width="100%" alt="">
        <img id="imgpro" src="images/project03.jpg" width="100%" alt="">
        <img id="imgpro" src="images/project04.jpg" width="100%" alt="">
    </article>
</section>
{% endblock %}