{% extends 'core/index.html' %}
{% load static %}
{% block service %}
<article class="container" id="servicio">
{% comment %} ==> Vista basada en clase muestra los datos de la tabla Service <== {% endcomment %}
{% comment %} Validación en el frontend de usuario autenticado {% endcomment %}
    {% for service in servicios %}
    {% if user.is_authenticated %}
        <ul id="pack">
            <li id="pack2"><strong> {{ service.name }} </strong></li>
            <li id="pack2"> {{ service.description }} </li>
            <li id="pack2"> {{ service.package }} </li>
            <li id="pack2"> {{ service.support }} </li>
        </ul>
    {% else %}
        <p>No tienes permisos para ver esta página</p>
    {% endif %}
    {% endfor %}
</article>
{% endblock %}